.grid-responsive{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    row-gap: 38px;
    column-gap: auto;
}

::-webkit-scrollbar {
    width: 8px; /* กำหนดความกว้างของ scrollbar */
}

::-webkit-scrollbar-track {
    background: #2D1E2F; /* สีพื้นหลังของ track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #E07A5F; /* สีของ scrollbar */
    border-radius: 10px;
    transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: #F4A261; /* สี scrollbar เมื่อ hover */
}